@use "./base/" as *;
@use "./layout" as *;
@use "./utils" as *;
@use "./sections" as *;


@media screen and (max-width: 576px) {
  .header {
    padding: 40px 0;
  }

  .header__title {
    margin-bottom: 60px;
    text-align: center;
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .header__btn {
    width: 180px;
    height: 50px;
    padding: 20px 0 12px;
    font-size: 0.9rem;
  }
}


