@use "../base/variables" as *;

/*--------about--------*/
.about-box {
  padding: 112px 0 100px 0;
  background-color: $sectionColor;

    &__title {
      margin-bottom: 50px;
      font-size: 32px;
      color: $headingColor;
    }

    &__description {
      margin-inline: auto;
    }
}